asttokens
alembic
backcall
certifi
cffi
charset-normalizer
click
colorama
cryptography
debugpy
decorator
entrypoints
executing
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
greenlet
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
Mako
MarkupSafe
MarkupSafe
matplotlib-inline
nest-asyncio
nltk
packaging
parso
pickleshare
prompt-toolkit
psutil
psycopg2
pure-eval
pycparser
pycryptodome
Pygments
pyparsing
python-dateutil
python-dotenv
pywin32
pyzmq
regex
requests
six
SQLAlchemy
stack-data
tornado
tqdm
traitlets
urllib3
wcwidth
Werkzeug
WTForms